img {
    border-radius: 25px;
    border: 2px solid black;
    width: inherit;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: rgb(22, 22, 22);
    font-family: 'Poppins', 'Calibri', 'serif';
    font-weight: 500;
}

p, ul, ol {
    font-size: 19px;
    font-family: 'Gandhi serif', serif;
    color: rgba(15, 15, 15, 0.9);
}

.subheading {
    color: rgba(15, 15, 15, 0.9);
    font-style: normal;

}

h2 {
    font-size: 24px;
    font-family: 'Poppins', 'Calibri', 'serif';
    font-weight: 500;

}

h3 {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    color: grey;
}

h3 a {
    color:rgb(180, 124, 233);
    font-style: italic;
}


body {
    background-color: rgb(251, 237, 252);
    width: 960px;
    margin: 16px auto;
}

div {
    background-color: azure;
    border-radius: 32px;
    border: 2px solid black;
    margin: 28px auto;
    padding: 16px;
}

.title {
    margin-top: 48px;
}

.image {
    width: 540px;
    padding: 0px;
    margin: 28px 14px 0 0;
    border: 0px;
    display: inline-block;
    background-color: transparent;
}

.description {
    display: inline-block;
    padding: 16px;
    margin: 28px 0 0 0;
    width: 366px;
    vertical-align: top;
}


